body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#carousel{
  max-height: 500px;
  
}
.btnop:hover{
  border-color: blue;
 
    /* background-color:darkslategrey; */
    color: rgb(186, 23, 23); /* Optional: Change text color for better visibility */
    cursor: pointer; /* Optional: Change cursor to pointer */
    
  
}
.btnop{
  transition: color 0.3s ease-in-out;
}
.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: lightblue;
}

.jodd{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  display: flex;          /* Enables Flexbox */
  align-items: center;    /* Vertically centers content */
  justify-content: center; /* Horizontally centers content (optional) */
  height: 100vh;          /* Example height to demonstrate centering */
  text-align: center; 
}
